<html>
<head>
    <title>Access Denied</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Access Denied</h5>
                <p class="card-text">Your IP address is not authorized to access the Admin Interface.</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>